# make sure crontab is used
@reboot /usr/bin/crontab /etc/cron.d/crontab
#*/15 * * * * /usr/bin/crontab /etc/cron.d/crontab

# An empty line is required at the end of this file for a valid cron file.
